
body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 20px;
    gap:40px;
    background-color: #f2f2f2;
    color: blue;

}

header {
    background-color: #1da1f2;
    color: white;
    padding: 10px;
    text-align: center;
}

.profile-container {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    margin: 20px auto;
}

.usernameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.username {
    padding:20px;
    font-size: 24px;
    font-weight: bold;
    color: #1da1f2;
    margin: 10px;
    color: red;
    
}

.follow-button, .unfollow-button {
    padding: 5px 15px;
    background-color: #1da1f2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.unfollow-button {
    background-color: #ff4500;
}

.follow-button:hover, .unfollow-button:hover {
    background-color: #0c85d0;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    font-size: 16px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    background-color: #1da1f2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #0c85d0;
}

#search-results {
    margin-top: 20px;
    text-align: left;
}

.tweet {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tweet .author {
    font-weight: bold;
    color: #1da1f2;
    margin-bottom: 5px;
}

.tweet .content {
    color: #333;
}
